<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Showing Articles Details</h1>
    <p><strong>Title: <%= @article.title %> </strong></p>
    <p><strong>Description: <%= @article.description %> </strong></p>

    <p>
      <%= link_to 'Edit', edit_article_path(@article) %> |
      <%= link_to 'Delete', article_path(@article), method: :delete, data: { confirm: "Are you sure?" } %> |
      <%= link_to 'Return to articles listing.', articles_path %>
    </p>
  </body>
</html>
